@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "../../colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.contactMe {
  color: aliceblue;
}
h1 {
  height: 10%;
  font-family: "Bebas Neue", sans-serif;
  font-size: min(8vw, 40px);
}

.contactMeForm {
  max-width: 1200px;
  display: grid;
  img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
  }
  .formTexts {
    grid-column: 1;
    grid-row: 1;

    background-color: #1b1b1eb5;
    font-family: "Lato", sans-serif;
    line-height: 1.2;
  }
}

a:link,
a:visited {
  color: aliceblue;
  text-decoration: underline;
}

.formRow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  input {
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    font-size: 15px;
    border-width: 2px;
    border-color: #1616169a;
    background-color: #ffffff6a;
    color: #000000;
    border-style: solid;
    border-radius: 2px;
    box-shadow: 0px 0px 1px rgba(66, 66, 66, 0.92);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  }
  textarea {
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    font-size: 15px;
    border-width: 2px;
    border-color: #1616169a;
    background-color: #ffffff6a;
    color: #000000;
    border-style: solid;
    border-radius: 2px;
    box-shadow: 0px 0px 1px rgba(66, 66, 66, 0.92);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  border-radius: 0px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}
@media only screen and (min-width: 768px) {
  .contactMeForm {
    display: flex;
    img {
      width: 70%;
      height: auto;
    }
  }

  .formTexts {
    width: 100%;
  }
}
