<div class="contactMe page">
  <app-nav-bar />
  <h1 class="text-align-center p-1"> Keep in Touch </h1>
  <div class="contactMeForm flex-grow-2  ml-auto mr-auto ">
    <img class=" object-fit-cover" src="../../../assets/keepInTouch/christian-wiediger-WkfDrhxDMC8-unsplash.jpg" />
    <div class="formTexts pt-2 pb-2 pl-1 pr-1 text-align-center display-f flex-dir-column justify-space-evenly">
      <p>
        Thank you for your interest in reaching out to me. please feel free to
        send me an email at
        <a class="email" href="mailto:parhambarati32@gmail.com">
          parhambarati32@gmail.com </a
        >. I do my best to respond within 24-48 hours. OR you can use the
        contact form below to send me a message directly from this page
      </p>
      <form class="mt-2" (ngSubmit)="onSubmit()">
        <div class="formRow display-f flex-dir-column justify-space-between">
          <label for="name">Name:</label>
          <input type="text" id="name" [(ngModel)]="formData.name" name="name" required>
        </div>
        <div  class="formRow">
          <label for="email">Email:</label>
          <input type="email" id="email" [(ngModel)]="formData.email" name="email" required>
        </div>
        <div  class="formRow">
          <label for="message">Message:</label>
          <textarea id="message" [(ngModel)]="formData.message" name="message" required></textarea>
        </div>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
  <app-footer />
</div>
