<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="nav">


<h1 class="titleName" > <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"> Parham Barati </a>  </h1>
<nav style="flex-direction: row;">
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"> Home </a>
  <a  routerLink="/contactMe" routerLinkActive="active" ariaCurrentWhenActive="page"> Contact me </a>
  <a> Project </a>
  <a> About me </a>
  <a> Resume </a>
</nav>

<div [ngClass]=" showDrawerState ? 'openDrawer' : 'closeDrawer' "></div>
<nav  #drawer [ngClass]=" showDrawerState ? 'open' : 'close' " class="drawer">
  <span (click)="closeDrawer()" class="closeBtn material-symbols-outlined">
    close
    </span>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"> Home </a>
  <a  routerLink="/contactMe" routerLinkActive="active" ariaCurrentWhenActive="page"> Contact me </a>
  <a> Project </a>
  <a> About me </a>
  <a> Resume </a>
</nav>

<span #menu (click)="showDrawer()" class="navBtn material-symbols-outlined">
  menu
  </span>
</div>
