.slides {
  scroll-snap-type: y mandatory;
  overflow: auto;
  flex-grow: 2;
}
.aboutMe {
  display: flex;
  flex-direction: column;
  color: aliceblue;
}

.slide {
  height: 100%;
  background-color: rgb(68, 68, 154);
  scroll-snap-align: start;
}

.slide:nth-child(3) {
  background-color: rgb(68, 154, 78);
}

.slide:nth-child(4) {
  background-color: rgb(27, 171, 224);
}

.slide:nth-child(1) {
  background-color: rgb(154, 68, 104);
}
