<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<div class="aboutMe page">
  <app-nav-bar />
  <div class="slides">
    <div  class="slide  first  display-f flex-dir-column">
      <h1>About Me</h1>
      <div  class="textContainerWithImage position-relative">
        <img
          class="manBun"
          src="../../../assets/aboutMe/DALL·E 2023-09-14 14.03.30 - a photo from a developer which is silhouette and developer has man bun.png"
        />
        <div #item class="hidden text display-f flex-dir-column p-2">
          <p>As you can see from domain,navbar, home page ,and etc my name is</p>
          <h2>Parham Barati</h2>
          <p>
            a seasoned <span class="role"> full Stack Developer</span> passionate
            about creating seamless, innovative web solutions. With a solid
            foundation in both front-end and back-end technologies, I specialize
            in crafting dynamic, user-friendly applications that drive efficiency
            and engagement.
          </p>
          <h3 class="display-f flex-dir-column">
            scroll to read more
            <span class="material-symbols-outlined"> arrow_drop_down </span>
          </h3>
        </div>


      </div>


    </div>
    <div  class="slide second">
      <h1>My Experience</h1>
      <div #item class="textContainerWithImage position-relative hidden">
       <app-experience-card     />
      </div>

    </div>
    <div #item class="slide third">
      <h1>My Education</h1>
    </div>
    <div #item class="slide"></div>
  </div>
  <app-footer />
</div>
